@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  border: 1px solid yellow;
  /* margin: 10px; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
}

.navLogo {
  filter: invert(1);
}

.navLink {
  /* text-decoration: none; */
  color: white;
}
.navLink:hover {
  text-decoration: none;
  color: #155be8;
}
.nav-stories {
  /* text-decoration: none; */
  color: #155be8;
}
.nav-stories:hover {
  text-decoration: none;
}

section {
  color: white;
  padding: 50vh 0em;
}

h1 {
  color: white;
  font-size: xx-large;
  font-weight: 700;
  letter-spacing: -0.04em;
  position: right;
}

h5 {
  color: #ffffff;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(40%);
  animation: fadeIn 2s;
  -moz-animation: fadeIn 3s; /* Firefox */
  -webkit-animation: fadeIn 2s; /* Safari and Chrome */
  -o-animation: fadeIn 3s; /* Opera */
}

.contact-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0em;
}

.contact-sns {
  margin: 1em;
  margin-top: 3em;
  color: #000000;
  font-weight: 700;
}

footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  margin: 20px 4px;
  padding-top: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
