@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  border: 1px solid yellow;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-logo {
  filter: invert(1);
}

.nav-link {
  text-decoration: none;
  color: white;
}

section {
  color: white;
  margin: 20em;
}

.all-container {
  /* color: #FFFFFF; */
  margin: 2em;
  /* margin-bottom: 30em; */
  text-align: center;
}

.main-copy-container {
  margin-top: 3em;
  text-align: left;
}

h1 {
  color: #155be8;
  font-size: xx-large;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h5 {
  color: #ffffff;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(40%);
  animation: fadeIn 2s;
  -moz-animation: fadeIn 3s; /* Firefox */
  -webkit-animation: fadeIn 2s; /* Safari and Chrome */
  -o-animation: fadeIn 3s; /* Opera */
}

.photo {
  width: 100px;
  /* height: 100%; */
  /* z-index: -1; */
  object-fit: cover;
  /* filter: brightness(40%); */
  animation: fadeIn 2s;
  -moz-animation: fadeIn 3s; /* Firefox */
  -webkit-animation: fadeIn 2s; /* Safari and Chrome */
  -o-animation: fadeIn 3s; /* Opera */
}

.contact-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0em;
}

.contact-sns {
  margin: 1em;
  margin-top: 3em;
  color: #000000;
  font-weight: 700;
}

footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  margin: 20px 4px;
  padding-top: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
